POSTGRES_DB=logboard
POSTGRES_USER=logboard
POSTGRES_PASSWORD=changeme
JWT_SECRET=changeme-generate-a-long-random-string-at-least-64-characters
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=86400000
