SERVER_PORT=8080
DATABASE_URL=jdbc:postgresql://localhost:5432/logboard
DATABASE_USERNAME=logboard
DATABASE_PASSWORD=logboard
JWT_SECRET=mySecretKeyForLogBoardApplicationWhichIsVeryLongAndSecure
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=86400000
